<nav {% if site.show_full_navigation %}class="full-navigation"{% endif %}>
    <ul>
        <li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
            {% assign home = site.html_pages | where: 'url', '/' | first %}
            <a href="{{ site.baseurl }}/">{{ home.title }}</a>
        </li>
    </ul>

    <ul>
        {% assign grouped = site.docs | group_by: 'category' %}
        {% for group in grouped %}
            <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                {% assign items = group.items | sort: 'order' %}
                <a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name }}</a>

                <!-- Begin nested menu for fbmain and fb2 -->
                <ul>
                    {% assign fbmain_item = nil %}
                    {% assign fb2_item = nil %}
                    
                    {% for item in items %}
                        {% if item.title == "fbmain" %}
                            {% assign fbmain_item = item %}
                        {% elsif item.title == "fb2" %}
                            {% assign fb2_item = item %}
                        {% endif %}
                    {% endfor %}

                    <!-- Display fbmain -->
                    {% if fbmain_item %}
                        <li class="nav-item">
                            <a href="{{ site.baseurl }}{{ fbmain_item.url }}">{{ fbmain_item.title }}</a>
                            <!-- Now display fb2 as a child item -->
                            {% if fb2_item %}
                                <ul>
                                    <li class="nav-item"><a href="{{ site.baseurl }}{{ fb2_item.url }}">{{ fb2_item.title }}</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <ul>
        <li class="nav-item top-level {% if page.url == '/changelog/' %}current{% endif %}">
            {% assign changelog = site.html_pages | where: 'url', '/changelog/' | first %}
            <a href="{{ site.baseurl }}/changelog/">{{ changelog.title }}</a>
        </li>
    </ul>
</nav>
